<div class="menu-container small-screen">
    <button mat-button class="small-screen-menu" [matMenuTriggerFor]="menu">
        <mat-icon role="img" aria-hidden="true">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let item of items" [routerLink]="item.link" [routerLinkActive]="'active'" [innerText]="item.title | translate"></button>
    </mat-menu>
</div>

<div class="menu-container big-screen">
    <span class="menu-item"><a>ETW</a></span>
    <seed-menu-item *ngFor="let item of items" [item]="item"></seed-menu-item>
    <span class="menu-item"><a [innerText]="'menu.signin' | translate" (click)="openSignInDialog()"></a></span>
    <span class="spacer"></span>
    <!--<span class="menu-item"><button mat-raised-button (click)="useLanguage('en')">EN</button></span>-->
    <!--<span class="menu-item"><button mat-raised-button (click)="useLanguage('jp')">JP</button></span>-->
    <span>
        <mat-form-field>
            <mat-select>
                <mat-option *ngFor="let lang of languages" [value]="lang.value" (click)="useLanguage(lang.value)">{{ lang.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </span>
</div>
