#home-container, .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

#home-container .half-card {
    width: 50%;
    margin: 10px;
    align-self: center;
}

#home-container .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

#home-container .mat-selection-list {
    padding: 0 !important;
}

.ribbon {
    position: fixed;
    border-top: 75vh solid darkred;        /* All borders set */
    border-right: 3vw solid darkred;
    border-left: 3vw solid darkred;
    border-bottom: 3vw solid transparent; /* Right transparent */
    width: 0;
    z-index: -1;
    padding: 0;
    top:0;
    left: 5vw;
    box-shadow: none !important;
    box-sizing: border-box;
}

.description-header {
    position: relative;
}

.description-header .ribbon-horizontal {
    border-top: 3vw solid darkred;        /* All borders set */
    border-right: 3vw solid transparent;
    border-left: 55vw solid darkred;
    border-bottom: 3vw solid darkred; /* Right transparent */
    width: 0;
    height: 0;
    z-index: -1;
    padding: 0;
    top: -20px;
    left: -40px;
    box-shadow: none !important;
    box-sizing: border-box;
}

.description-header .description {
    position: absolute;
    top: -15px;
}

.spinner {
    margin: 30px 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .description-header .ribbon-horizontal {
        border-top: 20px solid darkred;
        border-left: 90vw solid darkred;
        border-bottom: 20px solid darkred;
    }

    .half-card {
        width: 100% !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen  and (max-width:767px) and (min-width: 600px) {
    .description-header .ribbon-horizontal {
        border-left: 70vw solid darkred;
    }
    .description-header .description {
        font-size: 1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width:991px) and (min-width: 768px) {
    .description-header .ribbon-horizontal {
        border-top: 25px solid darkred;
        border-bottom: 25px solid darkred;
        border-left: 60vw solid darkred;
    }
    .description-header .description {
        font-size: 1.2em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .description-header .ribbon-horizontal {
        border-top: 25px solid darkred;
        border-bottom: 25px solid darkred;
    }
    .description-header .description {
        font-size: 1.5em;
    }
}
