/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin:40px;
}

.spacer {
    flex-grow: 1;
}

.spaced-container, .menu-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.mat-select-value, .mat-select-arrow {
    color: #FFFFFF;
}

.mat-select-arrow {
    color: #CFB53B;
}

.mat-input-underline.mat-form-field-underline {
    background-color: #FFFFFF;
}

.mat-input-ripple.mat-form-field-ripple {
    background-color: #CFB53B;
}

.mat-option-text {
    color: #CFB53B;
}

.mat-menu-panel {
    background-color: #949494;
}
